.pagination> li{
    display: inline-block;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
}

.pagination> li.active {
    background-color: #005575;
}

.pagination> li.disabled {
    background-color: #ddd;
    cursor: default;
}