<section id="pricing" class="secondary-color text-center scrollto clearfix">
    <div class="row clearfix">

      <div class="containter" style="padding-top: 50px">

        <div class="center-form panel">
          <div class="panel-body">

          <h4 class="text-center"><i class="icon ion-md-person"></i> Contact Us</h4>

          <form [formGroup]="contactusForm" (ngSubmit)="sendMessagecontactusForm.value">
            <div class="form-group">
              <input type="text" class="form-control form-control-names input-lg" formControlName="firstname" name="firstname" placeholder="First name">
              <input type="text" class="form-control form-control-names input-lg" formControlName="surname" name="surname" placeholder="Surname">
              <span class="ion-at form-control-icon"><i class="icon ion-md-person"></i></span>
              </div>
            <div class="form-group">
              <input type="text" class="form-control input-lg" formControlName="email" name="email" placeholder="Email">
              <span class="ion-at form-control-icon"><i class="icon ion-md-mail"></i></span>
              </div>

            <div class="form-group">
                <textarea rows="10" cols="20" class="form-control input-lg" formControlName="message" name="message" placeholder="Message"></textarea>
                <span class="ion-key form-control-icon"><i class="icon ion-md-list"></i></span>
              </div>

              <button type="submit" class="btn btn-block btn-success"> Send Message</button>

              <p class="text-center">
                <small>Take me <a routerLink="/home"> home</a></small>
              </p>

          </form>

        </div>
      </div>
    </div>

  </div>
</section>
